* {
    color: #AAAAAA;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #1C1C1C;
}
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 6vw;
    height: 7vh;
}

h4 {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 100%;
}

.logoAndCopy {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.copy {
    height: 80px;
}

.helpLinks ul {
    margin-top: 0.4rem;
}

.logo {
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100%;
}

.homeIcon img {
    width: auto;
    height: 50px;
    filter: invert();
}

.homeIcon {
    margin-left: auto;
}



/* BURGER MENU START */

.menu-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.menu-bar {
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: all .3s ease-in-out;

}

.menu-bar::before,
.menu-bar::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: all .3s ease-in-out;    
}

.menu-bar::before {
    transform: translateY(-12px);
}

.menu-bar::after {
    transform: translateY(12px);
}

.menu-btn.hover .menu-bar {
    background-color: blueviolet;
}

.menu-btn.hover .menu-bar::before {
    background-color: blueviolet;
}
.menu-btn.hover .menu-bar::after {
    background-color: blueviolet;
}

/* BURGER MENU END */

/* POP UP MENU START */
.menu-pop {
    background-color: #444;
    display: none;
    position:absolute;
    top: 6%;
    margin-top: 10px;
    font-size: 2rem;
    /* padding: 10px 0;
    border-radius: 6px; */
}

.menu-pop li {
    margin: 1rem 0;
    text-align: center;
    padding: 0 15px;
    cursor: pointer;
    
}

.menu-pop::before {
    content: "";
    height: 10px;
    top: -10px;
    width: 100%;
    position: absolute;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #444;

}
.menu-pop::after {
    content: "";
    height: 10px;
    bottom: -10px;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #444;

}


.menu-pop li:hover {
    background-color: #242424;
}

.menu-pop-extra {
    display: none;
    position: absolute;
    top: -10px;
    right: -208px;
    border-radius: 6px;
    background-color: #444;
    font-size: 1.8rem;
}

.menu-btn:hover ~ .menu-pop {
    display: block;
}
.menu-pop:hover {
    display: block;
}

.menu-tree:hover ~  .menu-pop-extra {
    display: block;
}

.menu-pop-extra:hover {
    display: block;
}

.hidden {
    display: none;
}
/* POP UP MENU END */

/* MOVIES BEGIN */

main {
    background-color: #0e0e0e;
    display: flex;
    justify-content: center; 
}

section {
    background-color: #242424;
    width: 80%;
}

.movieList {
    /* background-color: #AAAAAA; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(185px,1fr));
    padding: 15px 0;

}
.movieList li {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.movieList li:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

figure {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

.moviePageLink {
    width: 100%;
    height: 100%;
    
}

.title {
    text-align: center;
    text-overflow: ellipsis;
    max-height: 2.2rem;
    width: 100%;
    margin-top: 0.2rem;

}

/* MOVIES END */
/* MOVIEPAGE START */
.movieDetails {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5% 3% 
}

.posterDetails {
    grid-row: span 2 / auto;
    height: 540px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;


}

.movieDetails h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
   
}

.movieDetails h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
   
}

.movieDetails p {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-indent: 1.5rem;
}

/* MOVIEPAGE END */

/* INDEX START */
.big {
    height: 100px;
    width: 400px;
}
.search-main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.search-section {
    display: inherit;
    width: 100%;
}

.search-section form {
    display: inherit;
    /* border: solid; */
    flex-direction: column;
    height: 20vh;
    width: 100%;
}

.search-section input {
    width: 28vw;
    min-width: 300px;
    height: 4.5vh;
    min-height: 40px;
    align-self: center;
    background-color: #444;
    border: none;
    border-radius: 30px;
    padding-left: 14px;
    font-size: 0.9rem;
}

.search-section button {
    width: 6.5vw;
    min-width: 88px;
    height: 4vh;
    min-height: 35px;
    align-self: center;
    margin-top: 4vh;
    border-radius: 8px;
    background-color: #5a2e98;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    color: white;

}
/* INDEX END */